@use "variables" as var;


header {
    padding: 20px;
    * {
        margin-bottom: 30px;
    }
    h1 {
        color: var.$cyan;
    }
    h2 {
        color: var.$yellow;
    }
    p {
        color: var.$slate;
    }
}
.price {
    background-color: var.$cyan;
    color: var.$gray;
    padding: 20px;
    h2 {
        margin-bottom: 20px;
    }
    div {
        color: var.$white-60;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    .bold {
        font-size: 2.5rem;
        font-weight: var.$fw-700;
        color: var.$white-00;
    }
    p {
        margin-bottom: 30px;
    }
    button {
        width: 320px;
        height: 48px;
        background-color: var.$yellow;
        color: var.$white-00;
        border: none;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 10px 24px, rgba(0, 0, 0, 0.10) 0px 10px 10px;
    }

}
.features {
    padding: 20px;
    background-color: var.$slate;
    h2 {
        color: var.$white-00;
        margin-bottom: 30px;
    }
    ul {
        li {
            color: var.$gray;
        }
    }
}
footer {
    .attribution {
        font-size: 14px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      .attribution a:hover {
        color: hsl(306, 98%, 50%);
      }
}

/* Desktop version */
@media screen and (min-width: 400px) {

    main {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .header {
        grid-column: 1 / span 2;

    }
    .header, .price, .features  {
        padding-top: 100px;
        padding-left: 150px;
    }
    button:hover {
        background-color: var.$white-60;
        color: var.$cyan;
        cursor: pointer;
    }
}