$cyan: hsl(179, 62%, 43%); /* Cyan */
$yellow : hsl(71, 73%, 54%); /* Bright Yellow */

$gray: hsl(204, 43%, 93%); /* Light Gray */
$slate : hsl(218, 22%, 67%); /* Grayish Blue */
$white-00 : hsl(0, 0%, 100%);
$white-60 : hsla(0, 0%, 100%, 0.6);

$ff-main: 'Karla', sans-serif;

$fs-400: 1rem;

$fw-400: 400;
$fw-700: 700;